/*
For SimplerShowNotes.js by JACKSON EGAN
http://sneagan.com
@sneagan
*/

@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Buenard:400,700);

html, body {
    overflow-x: hidden;
}
body {
	width: 100%;
	background-color: #164c82;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
p, div, form, form div, form p, h3, h4 {
	color: #141414;
	font: 12pt 'Quattrocento Sans', sans-serif;
}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration: none;
	color: inherit;
}
.banner {
	width: 74%;
	height: 275px;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 100px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	background-image: url(../img/gun_metal.png);
}
.bannerText {
	color: #ffffff;
	font-size: 35pt;
	text-align: center;
	padding-top: 60px;
	text-shadow: 0 0 5px #3e3e3e;
}
.bannernav {
	margin-top: 40px;
	margin-left: 17%;
	height: 55px;
	width: 25%;
	font-size: 13pt !important;
}
.infoSections {
	display: table;
}
.infoSections div {
	display: table-cell;
	width: 23%;
	height: auto;
	margin-left: 1%;
	background-color: #fff;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.infoSections div h3 {
	font-size: 17pt;
	text-align: center;
	margin-bottom: 10px;
}
.infoText {
	text-align: left;
}
#firstDiv {
	margin-left: 11.75%;
}
.moreInfo {
	float: left;
	width: 76%;
	margin-top: 10px;
	margin-left: 10%;
	margin-bottom: 100px;
	padding: 2%;
	background-color: #fff;
	position: relative;
	text-align: left;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.moreInfo img {
	float: left;
	margin-top: -15%;
	margin-bottom: -2.7%;
	margin-left: -9%;
	width: 25%;
}
.moreInfo span {
	float: left;
	margin-left: 10%;
}
a,
a:hover,
a:visited {
	text-decoration: none;
	color: #fff;
}
.headerContainer {
	width: 100%;
	margin-top: -100px;
	z-index: 2;
	margin-bottom: 30px;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	position: fixed;
}
header {
	width: 100%;
	background-color: #fff;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 25px;
	height: 50px;
}
header h1 {
	position: relative;
	float: left;
	font-size: 15pt;
}
.description h2 {
	font-size: 15pt;
	margin-left: 19%;
	margin-bottom: 15px;
}
button.external-nav {
	float: right;
	margin-right: 35%;
	margin-top: -3px;
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-custom {
  background-color: hsl(210, 70%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#206bb6", endColorstr="#164c82");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#206bb6), to(#164c82));
  background-image: -moz-linear-gradient(top, #206bb6, #164c82);
  background-image: -ms-linear-gradient(top, #206bb6, #164c82);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #206bb6), color-stop(100%, #164c82));
  background-image: -webkit-linear-gradient(top, #206bb6, #164c82);
  background-image: -o-linear-gradient(top, #206bb6, #164c82);
  background-image: linear-gradient(#206bb6, #164c82);
  border-color: #164c82 #164c82 hsl(210, 70%, 27%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}
h3 {
	margin-top: 15px;
}
.mainContent {
	width: 600px;
	margin-top: 100px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: #e3e3e3;
	padding: 15px;
	padding-left: 7%;
	-webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.numberInput {
	width: 20px;
}
textarea {
	width: 85%;
}
textArea#newEpisodeSummary {
	height: 90px;
}
input[type='text'], select, textarea{
    color: #000;
    background-color: #fff;
	font: 12pt 'Quattrocento Sans', sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	border-style: inset;
	border-width: 1px;
}
textarea:focus, input:focus {
    font-family: 'Quattrocento Sans', sans-serif;
    font: 12pt 'Quattrocento Sans', sans-serif;
}
.epNumber {
	margin-bottom: 10px;
}
#itunesTitle {
	margin-left: 27px;
}
#itunesSubtitle {
	margin-left: 4px;
}
#podcastSite {
	margin-left: 37px;
}
#mediaSourceURL {
	margin-left: 31px;
}
.explicitRadioContainer {
	margin-bottom: 10px;
}
#newEpisodeSummary, #newNotesText, #newNotesURL, #newKeywords, #hostsText, #hostsURL {
	padding: 10px;
}
#lengthHours {
	margin-left: 20px;
}
#lengthMinutes {
	margin-left: 7px;
}
#lengthSeconds {
	margin-left: 3px;
}
#newFileSize {
	width: 50px;
	margin-top: 15px;
}
#submitButton {
	position: relative;
	margin-top: 20px;
	width: 50%;
	height: 40px;
	font-size: 15pt;
	margin-left: 15%;
	-webkit-appearance: none;
}
.xmlOutputContainer {
	width: 90%;
	margin-right: 10%;
}
#xmlOutput {
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	overflow: auto;
}

@media only screen and (min-width : 1360px) {
	.banner {
		width: 1000px;
		height: 275px;
		padding-left: 3%;
		padding-right: 3%;
		margin-top: 100px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		-webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px;
		background-image: url(../img/gun_metal.png);
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.moreInfo img {
		display: block !important;
		margin-top: -185px;
		margin-left: -70px;
		width: 200px;
	}
	.moreInfo span {
		float: left;
		margin-left: 80px!important;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.infoSection2 {
		height: 177px !important;
	}
	.infoSection3 {
		height: 177px !important;
	}
	.bannerText {
		padding-top: 30px !important;
	}
	.moreInfo img {
		margin-top: -174px;
	}
}
@media only screen and (max-width : 840px) {
	.moreInfo img {
		display: none;
	}
	.moreInfo span {
		float: left;
		margin-left: 0px;
	}
}
@media only screen and (max-width : 740px) {
	.bannernav {
		margin-top: 40px;
		margin-left: 17%;
		height: 55px;
		width: 25%;
		font-size: 10pt !important;
	}
	.infoSections div h3 {
		font-size: 15pt;
		text-align: center;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width : 675px) {
	.mainContent {
		width: 90%;
		margin-top: 100px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		background-color: #e3e3e3;
		padding: 15px;
		padding-left: 7%;
	}
	#itunesTitle {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#itunesSubtitle {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#itunesAuthor {
		margin-bottom: 15px;
	}
	#podcastSite {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#mediaSourceURL {
		margin-left: 0px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width : 625px) {
	.bannernav {
		margin-top: 40px;
		margin-left: 14%;
		height: 55px;
		width: 30%;
		font-size: 10pt !important;
	}
}
@media only screen and (max-width : 585px) {
	.bannerText {
		color: #ffffff;
		font-size: 35pt;
		text-align: center;
		padding-top: 10px;
		text-shadow: 0 0 5px #3e3e3e;
	}
	.bannernav {
		margin-top: 30px;
		margin-left: 10%;
		height: 55px;
		width: 35%;
		font-size: 10pt !important;
	}
	.infoSection1 {
		position: absolute;
		margin-top: 0px;
		width: 69% !important;
		margin-left: 13% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
	}
	.infoSection2 {
		position: absolute;
		margin-top: 130px;
		width: 69% !important;
		margin-left: 13% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
	}
	.infoSection3 {
		position: absolute;
		margin-top: 250px;
		width: 69% !important;
		margin-left: 13% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
	}
	.moreInfo {
		position: absolute;
		margin-top: 400px;
		margin-left: 10% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
	}
}
@media only screen and (max-width : 480px) {
	.headerContainer {
		width: 100%;
		margin-top: 0px !important;
		z-index: 2;
		margin-bottom: 30px;
		-moz-box-shadow: 0 0 10px #000000;
		-webkit-box-shadow: 0 0 10px #000000;
		box-shadow: 0 0 10px #000000;
		position: fixed;
	}
	#mainHeader {
		height: 40px;
		margin-bottom: 0px;
	}
	.mainContent {
		width: 90%;
		margin-top: 0px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		background-color: #e3e3e3;
		padding: 15px;
		padding-left: 7%;
		padding-top: 100px;
	}
	button.external-nav {
		margin-right: 30%;
		margin-top: -5px;
	}
	.banner {
		width: 100%;
		height: 275px;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 100px;
		margin-top: 0px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
    	border-radius: 6px;
		background-image: url(../img/gun_metal.png);
	}
	.bannernav {
		margin-top: 30px;
		margin-left: 10%;
		height: 55px;
		width: 35%;
		font-size: 10pt !important;
	}
	.infoSection1 {
		width: 90% !important;
		position: absolute;
		margin-top: 0px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
		border-radius: 6px;
	}
	.infoSection2 {
		width: 90% !important;
		position: absolute;
		margin-top: 175px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
    	border-radius: 6px;
	}
	.infoSection3 {
		width: 90% !important;
		position: absolute;
		margin-top: 328px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
    	border-radius: 6px;
	}
	.moreInfo {
		width: 90% !important;
		position: absolute;
		margin-top: 490px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		height: auto;
		font-size: 15pt;
	}
	.description h2 {
		font-size: 15pt;
		width: 100%;
		text-align: center;
		margin-left: -3%;
		margin-bottom: 15px;
	}
	#itunesTitle {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#itunesSubtitle {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#itunesAuthor {
		margin-bottom: 15px;
	}
	#podcastSite {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#mediaSourceURL {
		margin-left: 0px;
		margin-bottom: 10px;
	}
	#lengthHours {
		margin-left: 20px;
	}
	#lengthMinutes {
		margin-left: 7px;
	}
	#lengthSeconds {
		margin-left: 3px;
	}
	#submitButton {
		position: relative;
		margin-top: 20px;
		width: 80%;
		height: 40px;
		font-size: 15pt;
		margin-left: 7%;
		-webkit-appearance: none;
	}
}

@media only screen and (max-width : 320px) {
	.headerContainer {
		position: fixed;
		width: 100%;
		margin-top: 0px;
		z-index: 2;
	}
	#mainHeader {
		height: 40px;
		margin-bottom: 0px;
	}
	header {
		width: 100%;
		background-color: #fff;
		padding-left: 20%;
		padding-top: 15px;
		height: 60px;
		top: 0px;
		margin-top: 0px !important;
		-moz-box-shadow: 0 0 5px #000000;
		-webkit-box-shadow: 0 0 5px #000000;
		box-shadow: 0 0 5px #000000;
	}
	.banner {
		width: 90%;
		height: 275px;
		padding-left: 3%;
		padding-right: 3%;
		margin-top: 0px;
		padding-top: 70px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
    	border-radius: 6px;
		background-image: url(../img/gun_metal.png);
	}
	.mainContent {
		width: 90%;
		margin-top: 0px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		background-color: #e3e3e3;
		padding: 15px;
		padding-left: 7%;
		padding-top: 100px;
	}
	button.external-nav {
		margin-right: 60%;
		margin-top: 5px;
	}
	.bannernav {
		margin-top: 30px;
		margin-left: 10%;
		height: 55px;
		width: 38%;
		font-size: 10pt !important;
	}
	.infoSection1 {
		width: 90% !important;
		position: absolute;
		margin-top: 0px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
		border-radius: 6px;
	}
	.infoSection2 {
		width: 90% !important;
		position: absolute;
		margin-top: 168px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
    	border-radius: 6px;
	}
	.infoSection3 {
		width: 90% !important;
		position: absolute;
		margin-top: 318px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
    	border-radius: 6px;
	}
	.moreInfo {
		width: 90% !important;
		position: absolute;
		margin-top: 470px;
		margin-left: 2.3% !important;
		padding-left: 3% !important;
		padding-right: 3% !important;
		padding-bottom: 3% !important;
		height: auto;
		font-size: 13pt;
	}
	.description h2 {
		font-size: 15pt;
		width: 100%;
		text-align: center;
		margin-left: -3%;
		margin-bottom: 15px;
	}
	#itunesTitle {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#itunesSubtitle {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#itunesAuthor {
		margin-bottom: 15px;
	}
	#podcastSite {
		margin-left: 0px;
		margin-bottom: 15px;
	}
	#mediaSourceURL {
		margin-left: 0px;
		margin-bottom: 10px;
	}
	#lengthHours {
		margin-left: 20px;
	}
	#lengthMinutes {
		margin-left: 7px;
	}
	#lengthSeconds {
		margin-left: 3px;
	}
	#submitButton {
		position: relative;
		margin-top: 20px;
		width: 80%;
		height: 40px;
		font-size: 15pt;
		margin-left: 7%;
		-webkit-appearance: none;
	}
}
